@model List<Project>

@{
    ViewData["Title"] = "All projects";
}

<p>
    <a asp-controller="Project" asp-action="GetAddProjectRequest">Add new project</a>
</p>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date created</th>
        <th>Number of employees on project</th>
        <th>Number of project tasks</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var project in Model)
    {
        <tr>
            <td>@project.Name</td>
            <td>@project.DateCreated</td>
            <td>@project.Employees?.Count</td>
            <td>@project.Tasks?.Count</td>
            <td>
                <a asp-controller="Project" asp-action="GetProjectById" asp-route-id="@project.ProjectId">Manage</a>
                <span class="mx-1">|</span>
                <a asp-controller="Project" asp-action="GetEditRequestById" asp-route-id="@project.ProjectId">Edit</a>
                <span class="mx-1">|</span>
                <a asp-controller="Project" asp-action="GetDeleteRequestById" asp-route-id="@project.ProjectId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
